.searchBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton {
  border-radius: 0.4rem;
  z-index: 10;
  transition: 0.4s;
  border: none;
  background-color: #e4e4e4;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.searchActive {
  background: #6eb9fc;
}
.searchInput {
  transition: all 0.3s ease-in;
  position: absolute;
  width: 0px;
  height: 100%;
  border: none;
  opacity: 0;
  right: 0;
}
.setON {
  opacity: 1;
  width: calc(100vw - 17.6rem);
  right: 0;
}

/* medium devices */
@media only screen and (min-width: 800px) {
  .setON {
    width: calc(100vw - 31rem);
  }
}
/* Large devices */
@media only screen and (min-width: 992px) {
  .setON {
    width: calc(100vw - 45.4rem);
  }
}
